[submodule "kissfft"]
	path = kissfft
	url = https://github.com/mborgerding/kissfft.git
[submodule "libmysofa"]
	path = libmysofa
	url = https://github.com/hoene/libmysofa.git
[submodule "SwiftOSC"]
	path = SwiftOSC
	url = https://github.com/devinroth/SwiftOSC.git
