[submodule "kissfft"]
	path = kissfft
	url = https://github.com/mborgerding/kissfft.git
[submodule "libmysofa"]
	path = libmysofa
	url = https://github.com/hoene/libmysofa.git
[submodule "SwiftOSC"]
	path = SwiftOSC
	url = https://github.com/devinroth/SwiftOSC.git
[submodule "max-sdk"]
	path = max-sdk
	url = https://github.com/Cycling74/max-sdk.git

[submodule "C-Thread-Pool"]
	path = C-Thread-Pool
	url = git@github.com:Pithikos/C-Thread-Pool.git
[submodule "pffft"]
	path = pffft
	url = git@github.com:marton78/pffft.git
